{{ define "main" }}

<div class="section">
  {{/*  <h1 class="is-box-title has-text-black mb-6">{{ .Title }}</h1>  */}}
<div class="container">
   <div class="has-max-width-tablet has-margin-auto ">
    <form id="form__contact" name="contact" method="POST" netlify netlify-honeypot="website">
      <p class="title is-size-3 py-4">Get in contact</p>
      <div hidden>
          <input name="website" readonly>
      </div>
      <div class="field is-grouped">
        <div class="control is-expanded">
          <label for="name" class="label">First Name:</label>
          <input name="firstname" type="text" class="input" placeholder="First Name" />
        </div>
        <div class="control  is-expanded">
          <label for="name" class="label">Last Name</label>
          <input name="lastname" type="text" class="input" placeholder="Last Name" />
        </div>
      </div>
      
      <div class="field">
        <label for="email" class="label">Email</label>
        <div class="control">
          <input
            name="email"
            type="email"
            class="input"
            placeholder="Enter your email address"
          />
        </div>
      </div>
      <div class="field">
        <label for="email" class="label">Contact Number</label>
        <div class="control">
          <input
            name="phone"
            type="tel"
            class="input"
            placeholder="Enter your contact phone number"
          />
        </div>
      </div>
  
      {{/*  <div class="field">
        <label for="subject" class="label">Subject line</label>
        <div class="control">
          <input
            name="subject"
            type="text"
            class="input"
            placeholder="Your subject"
          />
        </div>
      </div>  */}}
  
      <div class="field">
        <label for="message" class="label">Your message</label>
        <div class="control">
          <textarea
            name="message"
            class="textarea"
            placeholder="Provide us with a brief summary of your project"
          ></textarea>
        </div>
      </div>
  
      <div class="field mt-6">
        <div class="control">
          <button class="button is-primary" type="submit">Submit</button>
        </div>
      </div>
    </form>
    <article class="message is-primary" hidden="hidden">
      <div class="message-header">
        <p>Your enquiry has been submitted</p>
        
      </div>
      <div class="message-body content">
        <p>Thank-you for your enquiry.</p>
        <p>One of our team members will be in contact with you shortly.</p>
      </div>
    </article>

  </div>
</div>
</div>
<div class="section">
<div class="container">
  <div class="has-max-width-tablet has-margin-auto ">
    <p class="title is-size-3 py-4">Connect with Us</p>
    <p class="title is-size-4 level"><a href="https://www.instagram.com/build.partners/" target="_blank" rel="nofollow"><i class="fab fa-instagram is-size-3 fa-fw"></i><span class="">&nbsp;build.partners</span></a></p>
      <p class="title is-size-4 level"><a href="https://www.linkedin.com/company/buildpartners/about/" target="_blank" rel="nofollow"><i class="fab fa-linkedin-in is-size-3  fa-fw"></i><span class="">&nbsp;buildpartners</span></a></p>
      <p class="title is-size-4 level"><a href="tel:1300357588" target="_blank" rel="nofollow"><i class="fas fa-phone is-size-4 fa-fw"></i><span class="">&nbsp;&nbsp;1300 357 588</span></a>
    
   </div>
</div>
</div>
<div class="section">

</div>

<div class="section" hidden>

      <div class="contact__content  container">
        {{ $section := "locations"}}
        {{ range (where .Site.RegularPages "Section" "locations" ) }}
          <div class="py-3">
              <!-- <h2 class="is-size-3 has-text-weight-semibold mb-2">Head Office</h2> -->
              <ul class="lm-location mb-1 mt-3">
                  <li><p class="title is-size-5 is-uppercase mb-4">{{if eq .Title "Noosa"}}Head Office{{else}}{{.Title}}{{end}}</p></li>
                  <li>
                      <a class="" href="mailto:{{ .Params.email }}"><i class="fas fa-envelope fa-fw has-text-primary"></i> {{ .Params.email }}&nbsp;</a>
                  </li>
                  <li>
                      <a class="" href="tel:+61{{ replace .Params.phone " " "" }}"><i class="fas fa-phone fa-fw has-text-primary"></i> {{ .Params.phone }}&nbsp;</a>
                  </li>
                  {{$address := replace .Params.address "\n" "<br />" | safeHTML}}
                  <li class="py-3">{{$address}}</li>
              </ul>
            </div>
        {{end}}

      </div>

      
        
    
      
    

  
  

  
</div>

{{ end }}
