{{ define "main" }}

<section class="hero is-primary is-fullheight img-bg py-6" style="--image: url('https://images.unsplash.com/photo-1601334168575-faa1f2640cff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');">
    <div class="hero-head">
        <div class="container">
            <div class="hero-sub">
                <h2 class="is-overline"><span class="has-text-black">Our Work &mdash;</span> {{ .Title }}</h2>
            </div>
        </div>
    </div>
</section>
<section class="container py-6">
    <div class="columns">
        <div class="column flex-col sis-12 has-text-black">
            <h2 class="is-size-4 has-text-weight-semibold is-uppercase mb-3">Deliverables</h2>
            <ul class="is-size-5 mb-4">
                {{ range .Params.Deliverables }}<li>{{ . }}</li>{{ end }}
            </ul>
            <div class="spacer"></div>
            <h2 class="is-size-3 has-text-weight-semibold is-uppercase block pt-5">{{ .Params.Zones.Title }}</h2>
        </div>

        <div class="column is-6">
            <article class="box is-shadowless move-up" style="padding: 2rem;">
                <h2 class="is-overline">{{ .Params.Project.Name }}, {{ .Params.Project.Location }}</h2>
                <h1 class="is-box-title has-text-black mb-2">{{ .Title }}</h1>
                <div class="content">
                    {{ .Content }}
                </div>
            </article>
        </div>
    </div>
</section>

<section class="container py-3">
    <div class="tile is-ancestor is-mobile">
        <div class="tile is-vertical-mobile">
            <div class="tile is-8 is-parent">
                <figure class="tile is-child image is-16by9 has-shadow">
                    <img alt="" src="{{ index .Params.Zones.Photos 0 }}">
                </figure>
            </div>
            <div class="tile is-vertical is-horizontal-mobile">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <figure class="image is-16by9 has-shadow">
                            <img alt="" src="{{ index .Params.Zones.Photos 1 }}">
                        </figure>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <figure class="image is-16by9 has-shadow">
                            <img alt="" src="{{ index .Params.Zones.Photos 2 }}">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container py-6">
    <div class="columns">
        <div class="column is-8">
            {{ range .Params.Services }}
            <div class="block limit-width at-600">
                <h3 class="is-box-title mb-2">{{ .title }}</h3>
                <div class="content">
                    {{.description | markdownify}}
                </div>
            </div>
            {{ end }}
        </div>
        <div class="column box is-primary p-5">
            <h3 class="is-overline has-text-weight-semibold mb-5">Key Stats & Takeaway</h3>
            {{ range .Params.KeyStats }}
            <p class="block">{{ . }}</p>
            {{ end }}
        </div>
    </div>
</section>

<section class="container py-6">
    <div class="lm-testimonial-quote">
        <q class="is-size-1 has-text-black has-text-weight-semibold mb-4 limit-width at-600">{{ .Params.Quote.Message }}</q>
        <span class="is-overline">{{ .Params.Quote.Author }}</span>
    </div>
</section>

{{- partial "hero.html" . -}}

<section class="container py-6 mb-6">
    <h2 class="is-section-header">Have a look at some other of our projects</h2>
    <div class="columns">
        {{ if .PrevInSection }}
            {{ with .PrevInSection }}
                {{- partial "footer-project-card.html" (dict "context" . "position" "prev") -}}
            {{ end }}
        {{ else }}
            <div class="column is-4"></div>
        {{ end }}

        <div class="column is-4"></div>

        {{ if .NextInSection }}
            {{ with .NextInSection }}
                {{- partial "footer-project-card.html" (dict "context" . "position" "next") -}}
            {{ end }}
        {{ else }}
            <div class="column is-4"></div>
        {{ end }}
    </div>
</section>

{{ end }}