{{ define "main" }}

<section class="container py-6">
    <h2 class="is-overline">{{ .Params.title }}</h2>
    <h1 class="is-size-1 has-text-weight-semibold mb-4">{{ .Description }}</h1>
    {{/*  <p class="mb-6 limit-width at-500">{{ .Description }}</p>  */}}
    <div class="content">
      {{.Content}}
    </div>
    
    <div class="py-6 ">
            {{ $pages := .RegularPages }}
            {{range $pages}}
            <div class="pb-6 " >
                <article class="media">
                    <figure class="media-left">
                      <figure class="image is-128x128">
                        {{$avatar := resources.Get .Params.src }}
                        {{ $avatar := $avatar.Fill "128x128" }}
                        <img class="is-rounded has-elevation" src="{{$avatar.Permalink}}" width="128" height="128">
                      </figure>
                    </figure>
                    <div class="media-content">
                      <div class="content ml-6">
                        <p class="is-overline mb-0">{{.Params.position}}</p>
                        <p class="title is-size-3">{{.Title}} {{with .Params.linkedin}}<a href="{{.}}" target="_blank" class="is-size-4 ml-3"><i class="fab fa-linkedin is-text-primary"></i></a>{{end}}</p>
                        <p class="subtitle is-size-5">{{.Description}}</p>
                        <div class="content">
                          {{.Content}}
                        </div>
                        
                      </div>
                    </div>
                  </article>
            </div>
            {{end}}
        </div>
</section>
    

{{ end }}