body {
  width: 100%;
}

#content {
  min-height: 600px;
}

.columns.is-variable {
  @media screen and (max-width: 1024px) {
    --columnGap: 0.75rem !important;
  }
}

.box {
  &.is-primary {
    background: $primary;
    color: rgba(0,0,0,.9);
  }

  &.is-fullheight {
    height: 100%;
  }
}

.buttons {
  &.is-full {
    @media screen and (min-width: 769px) {
      width: 100%;
      flex-wrap: nowrap;

      & > * {
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media screen and (max-width: 769px) {
    width: 100%;

    & > * {
      width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.button {
  font-weight: 700;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  font-size: 14px;

  &.has-items-left {
    justify-content: flex-start;
  }

  &.has-items-right {
    justify-content: flex-end;
  }

  &.is-transparent {
    background: transparent !important;
  }

  @media screen and (max-width: 769px) {
    justify-content: center !important;
  }
}

.has-shadow {
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.12),
    0px 2px 6px 0px rgba(0, 0, 0, 0.22);
}

.is-overline {
  @extend .is-size-6;
  @extend .has-text-weight-normal;
  @extend .is-uppercase;
}

.is-box-title {
  @extend .has-text-weight-semibold;
  @extend .is-size-3;
}

.is-section-header {
  @extend .has-text-weight-semibold;
  @extend .is-size-5;
  @extend .mb-6;
  @extend .has-text-black;

  letter-spacing: 1px;
}

.limit-width {
  max-width: 400px;
  width: 100%;

  &.at-500 {
    max-width: 500px;
  }

  &.at-600 {
    max-width: 600px;
  }
}

.hero {
  position: relative;

  &-overlay {
    position: absolute;
    top: -100px;
    left: -60px;
    z-index: 99;
    height: calc(100% + 100px);
    pointer-events: none;
    @media screen and (max-width: 769px) {
      top: -120px;
      height: 100%;
      left: 0;
    }
  }

  &-sub {

    color: $primary;
    border-left: solid 4px $primary;
    padding: 0.25rem 0.5rem;
    background: rgba(255, 255, 255, 0.5);
    width: max-content;
  
    &.on-primary {
      border-color: $white;
      color: $white;
      background: none;
    }

    & > h2 {
      @extend .has-text-weight-semibold;
    }
  }

  &-body {
    position: relative;
    z-index: 100;
  }
}

.img-hero {
  & .hero-body > .container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    padding: map-get($spacing-values, "6") * 0.5;

    & > .box.is-overlain {
      position: absolute;
      bottom: -6rem;
      left: 0;

      &.is-right {
        left: unset;
        bottom: -18rem;
        right: 0;
      }

      @media screen and (max-width: 769px) {
        position: static;
        left: 0;
        right: 0;
        bottom: unset;
      }
    }
  }

  @media screen and (max-width: 769px) {
    min-height: 100% !important;

    & .hero-body,
    & .hero-body > .container {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
}

.img-bg {
  background: var(--image);
  background-size: cover;
  background-position: center;

  @media screen and (max-width: 769px) {
    & > .container {
      padding-top: 6rem;
      padding-bottom: 6rem;
      min-height: 100vh;
    }
  }
}

.lm-projects {
  &-banner {
    position: relative;

    & > h2 {
      position: absolute;
      background: #FFF;
      padding: 0.5rem 1rem;
      // Column padding is 0.75rem, cancel it out
      top: calc(0.75rem + 2rem);
    }

    // & > img {
    //   position: absolute;
    //   right: 0;
    // }
  }
}

.lm-project-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.lm-pdf-push {
  display: flex;
  align-items: center;
  height: 200px;

  & > img {
    height: 100%;
  }

  @media screen and (max-width: 769px) {
    flex-direction: column;
    height: auto;

    & > img {
      margin-right: 0 !important;
      margin-bottom: 3rem;
    }
  }
}

.lm-service {
  &:not(:first-of-type) {
    @extend .mt-4;
  }

  &-explanation {
    max-width: 700px;
    width: 100%;
  }

  &-tile {
    position: relative;
    // height: 0;
    background: $primary;
    color: $white !important;
    // padding-top: 100%;

    &::before {
      padding-bottom: 100%;
      content: "";
      float: left;
    }

    &::after {
      display: table;
      content: '';
      clear: both;
    }

    & > div {
      display: flex;
      flex-direction: column;
      height: 100%;

      & > :first-child {
        flex-grow: 1;
      }
    }

    @media screen and (max-width: 769px) {
      &::after,
      &::before {
        display: none;
      }
    }
  }
}

// .lm-clients {

// }

.lm-testimonial-quote {
  q {
   &:before {margin-left: -1.5rem;} 
  }
}
.lm-testimonial {
  &-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & q {
      line-height: 130%;
    }
  }


  @media screen and (max-width: 769px) {
    text-align: center;
    // --columnGap: 0.75rem !important;
  }
}

.lm-connect {
  & > * {
    margin: 0 0.5rem;
  }
}

.lm-locations {
  margin-bottom: 6rem !important;
}

.lm-location {
  & > li:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }

  &-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.lm-logo {
  position: relative;
  display: flex;
  height: 100%;
  min-height: 100px;

  & > svg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.5rem;
    width: 100%;
  }

  // @media screen and (max-width: 769px) {
  //   & > svg {
  //     bottom: -1.5rem;
  //   }
  // }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

.move-up {
  position: relative;
  top: -6rem;

  @media screen and (max-width: 769px) {
    &:not(.lm-blog-post) {
      top: 0;
    }
  }
}

.lm-blog-post {
  @media screen and (max-width: 769px) {
    padding: 1rem !important;
  }
}

.navbar {
  overflow: hidden;
  &-item {
    &.active {
      font-weight: 600;
    }
  }
  &-overlay {
    position: absolute;
    height: 100vh;
    top: 0;
    left: -40px;
    pointer-events: none;
    @media screen and (max-width: 769px) {
      left: 0;
    }
  }
  &-brand {
    display: flex;
    align-items: center;
    img {
      margin-left: 2rem;
      @media screen and (max-width: 769px) {
        height: 40px;
        margin-left: 1rem;
      }
    }
  }
  &-internal {
    @media screen and (max-width: 769px) {
      .navbar-logo {
        filter: invert(1);
      }
    }
  }
  @media screen and (max-width: 769px) {
    z-index: 999;
    background: $primary;
    position: relative;
  }
}

nav img {
  height: 100%;
}

.navbar-menu.is-active {
  margin-left: -1rem;
  margin-right: -1rem;
}

.tile {
  &.is-mobile {
    &,
    & .tile:not(.is-child) {
      display: flex;
    }
  }

  @media screen and (max-width: 769px) {
    &.is-horizontal-mobile {
      flex-direction: row;
    }

    &.is-vertical-mobile {
      flex-direction: column;
    }
  }
}

.container {
  max-width: 1024px !important;

  @media screen and (max-width: 769px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}



/* Projects */

#projects_page {

  .hero.is-fullheight {
    min-height: calc(100vh - 18rem);
  }
  ul.is-size-5 {
    li {
      position: relative;
      margin-left: 1rem;
      margin-bottom: .5rem;
      &:before {
        content: '';
        width: .5em; height: .5em;
        background-color: $primary;
        position: absolute;
        top: .5em; left: 0;
        display: block;
        left: -1rem;
      }
    }
  }

}