{{ define "main" }}
<section class="hero is-primary py-6 is-medium">
    <div class="hero-head">
        <div class="container">
            <div class="hero-sub on-primary">
                <h2 class="is-overline"><span class="has-text-black">What We Do &mdash;</span> Project Management</h2>
            </div>
        </div>
    </div>
    <div class="hero-body">
        <div class="container">
            <h2 class="is-size-1 has-text-weight-semibold mb-6">{{.Params.headline}}</h2>
            <div class="buttons">
                <a href="/contact" class="button is-primary is-inverted">Make an Enquiry</a> <a class="button is-primary" href="/services">All Our Services</a>
            </div>
        </div>
    </div>
</section>
<section class="container pt-6">
    
    <div class="lm-service-explanation mb-6" id="project-management">
        <!-- <h1 class="title is-size-1">{{ .Title }}</h1> -->
        <div class="content">
            {{.Content}}
        </div>
    </div>
    
</section>
<!-- <section class="section pb-2">
    <div class="container">
        <h2 class="title is-uppercase">Our {{ .Title }} Projects</h2>
    </div>
</section> -->
<section class="section has-background-light">
    <div class="container">
        <h2 class="is-section-header">Some of our selected {{ .Title }} projects</h2>
        <div class="columns is-multiline is-variable is-6">
            {{ $projects := ((.Site.GetPage "/projects").Pages) }}
            {{ $tags := slice .Title }}
            {{ range where .Site.RegularPages "Params.tags" "intersect" $tags }}
            <div class="column is-4">
                <div>
                    <figure class="image has-shadow mb-5">
                        {{$image := resources.Get .Params.Image }}
                        <img alt="Project" src="{{$image.Permalink}}">
                    </figure>
                    <div class="content">
                        <h3 class="is-size-4 has-text-black has-text-weight-semibold">{{ .Params.Title }}</h3>
                        <h4 class="is-overline has-text-weight-semibold">{{.Params.project.name}}, {{.Params.project.location}}</h4>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="buttons is-right">
            <a class="button is-primary is-inverted is-transparent" href="/projects">View All Projects</a>
        </div>
    </div>
</section>

{{- partial "hero.html" . -}}

<section class="container py-6 mb-6">
    <h2 class="is-section-header">Have a look at some other of our other services</h2>
    <div class="columns">
        {{ if .PrevInSection }}
            {{ with .PrevInSection }}
                {{- partial "footer-service.html" (dict "context" . "position" "prev") -}}
            {{ end }}
        {{ else }}
            <div class="column is-4"></div>
        {{ end }}

        <div class="column is-4"></div>
        
        {{ if .NextInSection }}
            {{ with .NextInSection }}
            {{- partial "footer-service.html" (dict "context" . "position" "next") -}}
            {{ end }}
        {{ else }}
            <div class="column is-4"></div>
        {{ end }}
    </div>
</section>
{{ end }}