{{ define "main" }}

<section class="container py-6">
    
    {{$FeaturedArticle := index .RegularPages 0}}
    <div class="columns">
        <div class="column is-9">
            {{$hero := resources.Get $FeaturedArticle.Params.image }}
            {{if ne $hero nil }}
            <a class="image is-16by9 mb-4" href="{{$FeaturedArticle.Permalink}}" title="{{$FeaturedArticle.Title}}">
                <img src="{{$hero.Permalink}}" alt="{{$FeaturedArticle.Title}}">
            </a> 
            {{end}}
            <a class="has-text-black content" href="{{$FeaturedArticle.Permalink}}">
                <h2 class="is-box-title">{{$FeaturedArticle.Title}}</h2>
                <p class="is-size-5">{{$FeaturedArticle.Params.description}}</p>
                <p>Read More</p>
            </a>
        </div>
        <div class="column is-3">
            <div class="box is-primary p-4 is-fullheight">
                <h1 class="is-box-title has-text-white">{{.Title}}</h1>
                <p>{{.Description}}</p>
            </div>
        </div>
    </div>
</section>

{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
<section class="container py-6">
    <div class="hero-sub mb-4">
        <h2 class="is-overline"><span class="has-text-black">{{ $name }} &mdash;</span> <a href="{{ .Page.Permalink }}">View all</a></h2>
    </div>
    <div class="columns is-multiline is-variable is-6">
        {{ range first 3 .Pages }}
        {{- partial "blog-card.html" . -}}
        {{ end }}
    </div>
</section>
{{ end }}

{{- partial "hero.html" . -}}
{{ end }}