<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <h2 class="is-box-title mb-2">Let's talk about your next project</h2>
            <p class="limit-width mb-5 has-text-black">Speak to one of our friendly team members about how we can help.</p>
            <div class="buttons">
                <a href="/contact" class="button is-primary is-inverted">Make an Enquiry</a> <a href="/downloads" class="button is-white is-outlined">Download Our PDF <i class="ml-3 fas fa-file-pdf fa-2x"></i></a>
            </div>
        </div>
    </div>
</section>