<section class="hero is-primary is-medium">
    <div class="hero-body">
        <div class="container">
            <h2 class="is-box-title mb-2">Let's talk about your next project</h2>
            <p class="limit-width mb-5">Speak to one of our friendly team members about how we can help.</p>
            <div class="buttons">
                <a href="/contact" class="button is-primary is-inverted">Make an Enquiry</a> <a href="/downloads" class="button is-primary">Download Our PDF</a>
            </div>
        </div>
    </div>
</section>