{{ define "main" }}

{{with .Params.hero}}

  {{$heroImage := resources.Get .src }}
  <section class="hero img-hero is-primary is-first">
    {{/*<img src="/img/headzone.svg" class="hero-overlay" />*/}}
    <div class="hero-body">
      
        <div class="box-wrapper">
          {{if ne $heroImage nil}}
        <figure class="box image is-16by9">
            <img src="{{ $heroImage.Permalink }}" alt="{{.heading}}" width="1600" height="900" />
          </figure>
          {{end}}
        </div>  
        <div class="container-wrapper">
        <div class="container">
        <div class="box is-overlain">
          <h1 class="is-overline mb-1">{{.overline}}</h1>
          <h2 class="has-text-black mb-6 title is-size-1">
            {{ .heading }}
          </h2>

          {{with .cta }}
          <div class="buttons is-full">
            {{range $index, $buttons := . }}
            <a href="{{.href}}" class="button is-primary is-fullwidth{{if gt $index 0}} is-inverted{{end}}">{{.text}}</a>
            {{end}}
          </div>
          {{end}}
        </div>
        </div>
      </div>
    </div>
  </section>
{{end}}




<section class="hero img-bg img-hero is-primary" >
  <div class="hero-body">
    <div class="container" {{with .Params.intro.src }}
    {{$introImage := resources.Get .}}
    {{if ne $introImage nil }}style="background-image: url('{{ $introImage.Permalink }}'); background-size:cover; background-repeat:no-repeat;"{{end}}
  {{end}}>
      <div class="box is-overlain is-right content" style="max-width: 550px">
        <h2 class="is-overline mb-1">{{ .Params.intro.overline }}</h2>
        <h3 class="is-box-title has-text-black mb-2 mt-3">
          {{ .Params.intro.heading }}
        </h3>

        <div class="content">
          {{.Params.intro.content | markdownify}}
        </div>

        <div class="buttons is-full">
          <a href="/contact" class="button is-primary is-fullwidth">
            Make an Enquiry
          </a>
          <a
            href="/downloads"
            class="button is-primary is-fullwidth is-inverted"
          >
            Download PDF
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section pb-2 mt-6">
  <div class="container pt-6">
    <h2 class="title is-size-1 is-uppercase">Our Work</h2>
  </div>
</section>

{{ with index (where ((.Site.GetPage "projects").RegularPages) "Params.featured" true) 0 }}
<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-variable is-0">
        <div class="column is-8 lm-projects-banner">
          <!-- <h2 class="is-box-title has-text-black mb-2">
            Project Statement
          </h2> -->
          <img class="has-shadow" src="{{ .Params.Image }}" alt="" />
        </div>

        <div class="column is-4">
          <article class="box is-shadowless content">
            {{with .Params.Zones.overline}}
            <h3 class="is-overline has-text-weight-semibold">
              {{ . }}
            </h3>
            {{end}}
            <h3 class="is-box-title has-text-black mb-2">
              {{ .Title }}
            </h3>
            <p class="mb-4">{{ index .Params.KeyStats 0 }}</p>
            <a href="{{ .Permalink }}" class="button is-primary is-inverted">View Project</a>
          </article>

          <div class="has-text-black px-5">
            <h3 class="is-overline has-text-weight-semibold mb-3">
              Deliverables
            </h3>
            <ul class="is-size-6">
              {{ range .Params.Deliverables }}
              <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

<section class="container py-6">
  <h2 class="is-section-header">Some of our other selected projects</h2>

  <div class="columns is-multiline is-variable 6">
    {{ range where ((.Site.GetPage "projects").RegularPages) "Params.featured" true }}
    <div class="column is-4 mb-6">
      <a href="{{ .Permalink }}" title="{{.Title}}">
        {{$img := resources.Get .Params.Image }}
        {{if ne $img nil}}
        <figure class="image has-shadow mb-5">
          <img src="{{ $img.Permalink }}" alt="{{$.Title}}" />
        </figure>
        {{end}}
        <div class="content">
          <h3 class="is-size-4 has-text-black has-text-weight-semibold">
            {{ .Title }}
          </h3>
          <h4 class="is-overline has-text-grey-dark has-text-weight-semibold">
            {{ .Params.Project.Name }}, {{ .Params.Project.Location }}
          </h4>
        </div>
      </a>
    </div>
    {{ end }}
  </div>

  <div class="buttons is-right">
    <a href="/projects" class="button is-primary is-inverted">View All Projects</a>
  </div>
</section>

<section class="section pb-2">
  <div class="container">
    <h2 class="title is-size-1 is-uppercase">What We Do</h2>
  </div>
</section>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4 py-6">
          <h2 class="is-size-1 has-text-weight-semibold mb-6 pb-5">
            {{ .Params.WhatWeDo.Headline }}
          </h2>

          <article class="lm-pdf-push">
            <img
              class="has-shadow mr-5"
              src="img/pdf-cover.png"
              alt="PDF Cover"
            />

            <div class="lm-pdf-push-body has-text-black">
              <h3 class="is-size-5 has-text-weight-semibold mb-2">
                Want to know more?
              </h3>
              <p class="mb-4">
                Get a copy of our services pack with full details of our
                products & services.
              </p>
              <button class="button is-primary is-inverted is-fullwidth">
                Download PDF
              </button>
            </div>
          </article>
        </div>

        <div class="column is-6 is-offset-2">
          {{ range ((.Site.GetPage "/services").Pages) }}
          <article class="lm-service">
            <h3 class="is-size-4 has-text-black mb-2 has-text-weight-semibold">
              {{ .Title }}
            </h3>
            <p class="mb-5 has-text-dark">{{ .Params.Description }}</p>
            <div class="buttons is-right">
              <a href="{{ .Permalink }}" class="button is-primary pr-0">Find Out More &raquo;</a>
            </div>
          </article>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class=" py-6">
  <div class="container">
    <h2 class="is-section-header">{{ .Params.WhoWeWork.Headline }}</h2>
  </div>

  <div class="scroll__wrapper section has-animate-scroll">
    <div class="columns lm-clients mb-6 is-vcentered">
      {{ range (seq 14) }}
          {{$index := string .}}
          {{$logopath := printf "img/png/logo_%s.png" $index }}
          {{$logo := resources.Get $logopath }}
          {{if ne $logo nil}}
            <div class="column is-2">
              <img src="{{$logo.Permalink}}" height="48">
            </div>
          {{end}}
      {{end}}
    </div>
  </div>
  <div class="container">
  
  {{ $projects := where .Site.RegularPages "Section" "projects"}}
  <blockquote class="lm-testimonial py-6">
    {{ range first 1 $projects }}
      {{with .Params.quote}}
      <div class="columns">
        <div class="column is-1"></div>
          <div class="column lm-testimonial-quote ">
            <p class="is-size-1 has-text-black has-text-weight-semibold mb-4">
              &ldquo;{{ .message }}&rdquo;
            </p>
            <span class="is-overline">{{ .author}}</span>
          </div>
        </div>
      {{end}}
    {{end}}

    <!-- <div class="column is-5">
      <img
        class="has-shadow"
        src="{{ .Params.WhoWeWork.Quote.Image }}"
        alt=""
      />
    </div> -->
  </blockquote>
</section>

<section class="section pb-2">
  <div class="container">
    <h2 class="title is-uppercase">Expertise</h2>
  </div>
</section>

<section class="container pt-2 pb-6 mb-6">
  <h2 class="is-section-header">
    How can you get the most out of your project?
  </h2>

  <div class="columns">
    <div class="column is-8">
      <div class="box is-primary p-6 content">
        <h3 class="is-overline mb-1">{{ .Params.Expertise.Overline }}</h3>
        <h4 class="is-box-title has-text-white mb-4 mt-3">
          {{ .Params.Expertise.Headline }}
        </h4>

        <p class="has-text-weight-medium has-text-dark">
          {{ .Params.Expertise.Description }}
        </p>
      </div>

      <div class="columns is-multiline">
        {{ range after 3 ((.Site.GetPage "/services").Pages) }}
          <div class="column is-6">
            {{ $service := . }}
            {{ $projects := ((.Site.GetPage "/projects").Pages) }}
            {{ range first 1 (where $projects "Params.tags" .File.TranslationBaseName) }}
              <a href="{{ .Permalink }}">
                <figure class="image has-shadow mb-5">
                  <img alt="Project" src="{{ .Params.Image }}" />
                </figure>
                <h3 class="is-size-4 has-text-black has-text-weight-semibold">
                  {{ .Params.Title }}
                </h3>
                <h4 class="is-overline has-text-black has-text-weight-semibold">
                  {{ $service.Title }}
                </h4>
              </a>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>

    <div class="column is-4">
      {{ range first 3 ((.Site.GetPage "/services").Pages) }}
        {{ $service := . }}
        {{ $projects := ((.Site.GetPage "/projects").Pages) }}
        {{ range first 1 (where $projects "Params.tags" .File.TranslationBaseName) }}
          <a class="is-block mb-5" href="{{ .Permalink }}">
            <figure class="image has-shadow mb-5">
              <img alt="Project" src="{{ .Params.Image }}" />
            </figure>
            <h3 class="is-size-4 has-text-black has-text-weight-semibold">
              {{ .Params.Title }}
            </h3>
            <h4 class="is-overline has-text-black has-text-weight-semibold">
              {{ $service.Title }}
            </h4>
          </a>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>




{{ end }}
